.caps {
  text-transform: uppercase;
}
#feature {
  background: transparent url("/static/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  margin-bottom: 0px;
}
nav {
  background: #eaeaed;
}
.block {
  padding: 20px;
  background: #fff;
  height: 100%;
}
#feature {
  padding-top: 40px;
}
#feature-top,
#feature-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}
#feature-bottom > .row {
  height: 500px;
}
@media (min-width: 1200px) {
  #feature-bottom > .row {
    height: 410px;
  }
}
#feature-bottom > .row > [class*="col-"] {
  height: 100%;
}
.btn-fullwidth {
  width: 100%;
}
.text-center .img-responsive {
  display: inline-block;
}
