#main {
  background: #fff;
}
#main > .container {
  padding: 20px 0;
}
.caps {
  text-transform: uppercase;
}
#feature {
  background: transparent url("/future-fund/static/home_bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  margin-bottom: 0px;
}
nav {
  background: #eaeaed;
}
.block {
  padding: 20px;
  background: #fff;
  height: 100%;
}
#feature {
  padding-top: 40px;
}
#feature-top,
#feature-bottom {
  margin-top: 30px;
  margin-bottom: 30px;
}
#feature-bottom > .row {
  height: 570px;
}
@media (max-width: 767px) {
  #feature-bottom > .row {
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #feature-bottom > .row {
    height: auto;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  #feature-bottom > .row {
    height: 570px;
  }
}
@media (min-width: 1200px) {
  #feature-bottom > .row {
    height: 500px;
  }
}
#feature-bottom > .row > [class*="col-"] {
  height: 100%;
}
.btn-fullwidth {
  width: 100%;
}
.text-center .img-responsive {
  display: inline-block;
}
header {
  background: #fff;
  padding-top: 15px;
}
body,
footer {
  background: #222;
}
.navbar-nav > li > a {
  color: #222 !important;
}
footer {
  position: relative;
  z-index: 2000;
  font-weight: 200;
  font-size: 12px;
  color: #fff;
}
footer ul {
  list-style: none;
}
footer a {
  color: #fff;
}
