@import 'variables.less';

.four-device-height(@xs: auto; @sm: auto; @md: auto; @lg: auto){
    height: @md;
    @media (max-width: @screen-xs-max) { height: @xs }
    @media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) { height: @sm }
    @media (min-width: @screen-md-min) and (max-width: @screen-md-max) { height: @md }
    @media (min-width: @screen-lg-min) { height: @lg }
}
#main{
    background: #fff;
    > .container{
        padding: 20px 0;
    }
}
.caps{
    text-transform: uppercase;
}

#feature{
    background: transparent url("@{staticURL}/home_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    margin-bottom: 0px;
}

nav{
    background: #eaeaed;
}

.block{
    padding: 20px;
    background: #fff;
    height: 100%;
}

#feature{
    padding-top: 40px;
}
#feature-top, #feature-bottom{
    margin-top: 30px;
    margin-bottom: 30px;
}

#feature-bottom > .row{
    .four-device-height(@md: 570px; @lg: 500px);
}
#feature-bottom > .row > [class*="col-"]{
    height: 100%;
}


.btn-fullwidth{
    width: 100%;
}

.text-center .img-responsive{
        
    display: inline-block;
}

header{
    background: #fff;
    padding-top: 15px;
}

body,footer{
    background: #222;
}
.navbar-nav>li>a{
    color: #222 !important;
}
footer{
    position: relative;
    z-index: 2000;
    font-weight: 200;
    font-size: 12px;
    ul{
        list-style: none;
    }
    color: #fff;
    a{color: #fff;}
}

.full-page{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('http://rosslote.eu/future-fund/static/demo/signin-bg-1.jpg');
    background-size: cover;
    .center-block{
        position: absolute;
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 500px;
        height: 470px;
        box-shadow: 0 0 10px rgba(0,0,0,0.2);
        .block-content{
            padding: 20px;
            margin-bottom: 20px;
            background: #fff;
        }
        .home-link{
            color: #fff;
            a{
                color: #fff;
            }
        }
        img{
            max-width: 100%;
        }
    }
}

.title-text {
    color: #777;
    display: block;
    font-size: 15px;
    font-style: italic;
    margin-bottom: 25px;
    position: relative;
    text-align: center;
    
    &:before {
        background: #E4E4E4;
        content: "";
        display: block;
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        top: 50%;
    }
    
    span {
        background: #FFF;
        display: inline-block;
        padding: 0 20px;
        position: relative;
    }
}