{% extends "app/base.html" %}

{% block content %}
<div class="row-fluid">
    <div class="col-sm-8">
        <iframe src="http://www.calcmoolator.com/iframe_widget.php?widget_id=a5e244f64c8992d857af0e46038b568c" style="width:100%;height:600px;border:0px;" border="0" scrolling="yes" frameborder="0"></iframe>
    </div>
    <div class="col-sm-4">
        {% include "app/includes/side-stats.html" %}
    </div>
</div>

{% endblock %}