{% load static compress %}

<!DOCTYPE html>
<!--

TABLE OF CONTENTS.

Use search to find needed section.

=====================================================

|  1. $BODY                 |  Body                 |
|  2. $MAIN_NAVIGATION      |  Main navigation      |
|  3. $NAVBAR_ICON_BUTTONS  |  Navbar Icon Buttons  |
|  4. $MAIN_MENU            |  Main menu            |
|  5. $PRICING_PAGE         |  Pricing page         |

=====================================================

-->


<!--[if IE 8]>         <html class="ie8"> <![endif]-->
<!--[if IE 9]>         <html class="ie9 gt-ie8"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="gt-ie8 gt-ie9 not-ie"> <!--<![endif]-->
{% include "app/includes/head.html" %}


<!-- 1. $BODY ======================================================================================
	
	Body

	Classes:
	* 'theme-{THEME NAME}'
	* 'right-to-left'      - Sets text direction to right-to-left
	* 'main-menu-right'    - Places the main menu on the right side
	* 'no-main-menu'       - Hides the main menu
	* 'main-navbar-fixed'  - Fixes the main navigation
	* 'main-menu-fixed'    - Fixes the main menu
	* 'main-menu-animated' - Animate main menu
-->
<body class="theme-default main-menu-animated page-pricing">

{% include "app/includes/header.html" %}
<div id="main-wrapper">


<!-- 2. $MAIN_NAVIGATION ===========================================================================

	Main navigation
-->

<!-- 4. $MAIN_MENU =================================================================================

		Main menu
		
		Notes:
		* to make the menu item active, add a class 'active' to the <li>
		  example: <li class="active">...</li>
		* multilevel submenu example:
			<li class="mm-dropdown">
			  <a href="#"><span class="mm-text">Submenu item text 1</span></a>
			  <ul>
				<li>...</li>
				<li class="mm-dropdown">
				  <a href="#"><span class="mm-text">Submenu item text 2</span></a>
				  <ul>
					<li>...</li>
					...
				  </ul>
				</li>
				...
			  </ul>
			</li>
-->
	{% include "app/includes/main-menu.html" %}
<!-- /4. $MAIN_MENU -->


	<div id="content-wrapper">
{% include "app/includes/titlebar.html" %}
<!-- 5. $PRICING_PAGE ==============================================================================
	
		Pricing page
-->

		<!-- Javascript -->
		<script>
			init.push(function () {
				var $ph  = $('.page-pricing-header'),
				    $img = $ph.find('> img');

				$(window).on('resize', function () {
					$img.attr('style', '');
					if ($img.height() < $ph.height()) {
						$img.css({
							height: '100%',
							width: 'auto'
						});
					}
				});
			})
		</script>
		<!-- / Javascript -->
<!--
		<div class="page-pricing-header">
			<img src="/future-fund/static/demo/pricing-bg.jpg" alt="">
			<div class="bg-overlay" style="background: #8f7c5f;"></div>
			<div class="page-pricing-header-content">
				<h1 class="page-title"><strong>Plans</strong> &amp; <strong>Pricing</strong></h1>
				<div class="slogan">
					<h3>More Revenue. No Obligations. So Professional.</h3>
					<h4>Pay as you go. No startup costs. No long-term contracts. Cancel anytime.</h4>
				</div>
			</div>
		</div>
-->		
		<div class="row">
			<div class="col-sm-6">
				<img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/beach-1.jpg" %}" /> 
			</div>
			<div class="col-sm-6">
				<div class="bordered panel-padding no-padding-t bg-white grid-gutter-margin-b">
					<h2>Idyllic Maldives Island Holiday</h2>
					<p>Evoking images of white sands, swaying palm trees and crystal blue waters, this is the quintessential picture-perfect holiday – with an added sprinkling of something special. Far-flung and exotic, it's the ultimate luxury beach escape. We’ve been offering holidays here for over 20 years, and there’s a reason that it’s our most popular destination.</p>
					<p>In essence, this is the place for relaxation. Expect to lose all sense of time, what day it is and what’s going on elsewhere. This is the home of ‘no news, no shoes’ after all.</p>
					<p>Savour gourmet dining, spectacular diving and the most enchanting ocean sunsets. And if the stunning views aren’t enough, the activities and experiences on offer range from cultural homestays to desert island trips and a plethora of watersports.</p>
				</div>
			</div>
		</div>
		
		<div class="plans-panel" style="max-width: 1000px;">
			<div class="plans-container">
				<!-- Personal plan -->
				<div class="plan-col col-sm-3">
					<div class="plan-header bg-light-green darken">GET STARTED</div>
					<div class="plan-pricing bg-light-green"><span class="plan-currency">£</span><span class="plan-value">10</span><span class="plan-period">/MO</span></div>
					<ul class="plan-features">
						<li>Save over 25 Years</li>
						<li>Easy Monthly Payments</li>
						<a href="#" class="bg-light-green darken">SAVE NOW</a>
					</ul>
				</div>

				<!-- Start Up plan -->
				<div class="plan-col col-sm-3">
					<div class="plan-header bg-light-green darker">GETTING SERIOUS</div>
					<div class="plan-pricing bg-light-green darken"><span class="plan-currency">£</span><span class="plan-value">25</span><span class="plan-period">/MO</span></div>
					<ul class="plan-features">
						<li>Save over 10 Years</li>
						<li>Easy Monthly Payments</li>
						<li>Save in less than half the time</li>
						<a href="#" class="bg-light-green darker">SAVE NOW</a>
					</ul>
				</div>

				<!-- Company plan -->
				<div class="plan-col col-sm-3">
					<div class="plan-header bg-light-green darken">GET IT FAST</div>
					<div class="plan-pricing bg-light-green"><span class="plan-currency">£</span><span class="plan-value">100</span><span class="plan-period">/MO</span></div>
					<ul class="plan-features">
						<li>Save over 5 Years</li>
						<li>Easy Monthly Payments</li>
						<li>Save in 1 fith of the time</li>
						<li>Make your money work harder</li>
						<li>Enjoy your savings sooner</li>
						<a href="#" class="bg-light-green darken">SAVE NOW</a>
					</ul>
				</div>

				<!-- Enterprice plan -->
				<div class="plan-col col-sm-3">
					<div class="plan-header bg-light-green darker">PAY AS YOU GO</div>
					<div class="plan-pricing bg-light-green darken"><span class="plan-currency">£</span><span class="plan-value">50</span><span class="plan-period"></span></div>
					<ul class="plan-features">
						<li>Save when you want</li>
						<li>NO monthly payments</li>
						<li>Easy top-up when you want</li>
						<li>Save fast or slow, it's up to you</li>
						<li>Get the dream you want</li>
						<a href="#" class="bg-light-green darker">SAVE NOW</a>
					</ul>
				</div>
			</div>
		</div>
<!--
		<div class="trial">
			<a href="#" title="">Get started today with a 30-day free trial</a><br>
			No obligation, no credit card required.
		</div>
-->
	</div> <!-- / #content-wrapper -->
	<div id="main-menu-bg"></div>
</div> <!-- / #main-wrapper -->
{% include "app/includes/footer.html" %}

</body>
</html>