{% extends "app/base.html" %}
{% load static %}

{% block page_title %}<i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Savings Goal {{goal_id}}{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-8">
            <div class="bordered panel-padding bg-white grid-gutter-margin-b">
                <div class="row">
                    <div class="col-sm-4">
                        <a class="img-hover-link" href="#">
                            <img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/pool.jpg" %}" />
                            <div class="hidden-img-hover text-center panel-padding">
                                GOAL NAME<br>
                                From only £10<br>
                                Save Now
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="img-hover-link" href="#">
                            <img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/pool.jpg" %}" />
                            <div class="hidden-img-hover text-center panel-padding">
                                GOAL NAME<br>
                                From only £10<br>
                                Save Now
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="img-hover-link" href="#">
                            <img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/pool.jpg" %}" />
                            <div class="hidden-img-hover text-center panel-padding">
                                GOAL NAME<br>
                                From only £10<br>
                                Save Now
                                
                            </div>
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <a class="img-hover-link" href="#">
                            <img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/pool.jpg" %}" />
                            <div class="hidden-img-hover text-center panel-padding">
                                GOAL NAME<br>
                                From only £10<br>
                                Save Now
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="img-hover-link" href="#">
                            <img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/pool.jpg" %}" />
                            <div class="hidden-img-hover text-center panel-padding">
                                GOAL NAME<br>
                                From only £10<br>
                                Save Now
                                
                            </div>
                        </a>
                    </div>
                    <div class="col-sm-4">
                        <a class="img-hover-link" href="#">
                            <img class="img-responsive grid-gutter-margin-b" style="width: 100%;" src="{% static "images/pool.jpg" %}" />
                            <div class="hidden-img-hover text-center panel-padding">
                                GOAL NAME<br>
                                From only £10<br>
                                Save Now
                                
                            </div>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="col-sm-4">
            {% include "app/includes/side-stats.html" %}
        </div>
    </div>
    {% include "app/includes/bottom-panels.html" %}
{% endblock %}