{% extends "skeleton.html" %}
{% load cms_tags sekizai_tags staticfiles menu_tags compress %}
{% block the_content %}
<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        {% static_placeholder "logo" %}
      </div>
      <div class="col-sm-6">
        {% static_placeholder "search" %}
      </div>
    </div>
  </div>
</header>
<nav>
  <div class="container">
    <div class="navbar" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/future-fund/">
              <span class="fa fa-home fa-2x"></span>
            </a>
          </li>
          {% show_menu_below_id 'home' 0 1 100 100 "menus/menu.html" %}
        </ul>
        <div class="navbar-right" style="margin-top: 10px; position: relative;">
          <button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Members <b class="caret"></b></button>
          <ul class="dropdown-menu" style="left: 0;">
            {% show_menu_below_id 'members' 0 1 100 100 "menus/dropdown-menu.html" %}
          </ul>
          <a class="btn btn-primary" href="#">Start Saving</a>
        </div>
      </div>
    </div>
  </div>
</nav>
<div id="main">
  {% block content %}
  {% endblock content %}
</div>
<footer>
  <div class="row">
    <div class="col-md-2 col-md-offset-1"><h4 class="text-center">FOOTER TITLE 1</h4>{% static_placeholder "footer-a" %}</div>
    <div class="col-md-2"><h4 class="text-center">FOOTER TITLE 2</h4>{% static_placeholder "footer-b" %}</div>
    <div class="col-md-2"><h4 class="text-center">FOOTER TITLE 3</h4>{% static_placeholder "footer-c" %}</div>
    <div class="col-md-2"><h4 class="text-center">FOOTER TITLE 4</h4>{% static_placeholder "footer-d" %}</div>
    <div class="col-md-2"><h4>CONTACT DETAILS</h4>{% static_placeholder "footer-e" %}</div>
  </div>
</footer>
{% endblock %}