{% extends "base.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block content %}
<div id="feature">
  <div class="container">
    <div id="feature-top">
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-5">
          <div class="block">
            {% placeholder "feature-top-a" %}
          </div>
        </div>
      </div>
    </div>
    <div id="feature-bottom">
      <div class="row">
        <div class="col-sm-8">
          <div class="block">
            {% placeholder "feature-bottom-a" %}
          </div>
        </div>
        <div class="col-sm-4">
          <div class="block js-add-image-responsive">
            {% placeholder "feature-bottom-b" %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
