{% extends "skeleton.html" %}
{% load cms_tags staticfiles sekizai_tags menu_tags %}

{% block the_content %}
    <div class="full-page">
        <div class="center-block">
            <div class="block-content">
                {% placeholder "content" %}
            </div>
            <div class="text-center home-link">
                <p>Go to <a href="{% page_url "home" %}">Home Page</a></p>
            </div>
        </div>
    </div>
{% endblock %}