{% load cms_tags sekizai_tags staticfiles menu_tags compress %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}This is my new project home page{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% render_block "css" %}
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
    {% compress css %}
    <link type="text/less" href="{% static "future-fund/less/style.less"%}" rel="stylesheet"  charset="utf-8">
    {% endcompress %}
  </head>
  <body>
    {% cms_toolbar %}
    {% block the_content %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{% static "future-fund/js/common.js" %}"></script>
    {% render_block "js" %}
  </body>
</html>

