<div class="row">

<!-- 10. $SUPPORT_TICKETS ==========================================================================

			Support tickets
-->
			<!-- Javascript -->
			<script>
				init.push(function () {
					$('#dashboard-support-tickets .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
				})
			</script>
			<!-- / Javascript -->

			<div class="col-md-6">
				<div class="panel panel-success widget-support-tickets" id="dashboard-support-tickets">
					<div class="panel-heading">
						<span class="panel-title"><i class="panel-title-icon fa fa-bullhorn"></i>All Your Goals</span>
					</div> <!-- / .panel-heading -->
					<div class="panel-body tab-content-padding">
						<!-- Panel padding, without vertical padding -->
						<div class="panel-padding no-padding-vr">

							<div class="ticket">
								<span class="label label-success ticket-label">Completed</span>
								<a href="#" title="" class="ticket-title">Luxury Car </a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-warning ticket-label">Pending</span>
								<a href="#" title="" class="ticket-title">Trip to Hawaii </a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-info ticket-label">In progress </span>
								<a href="#" title="" class="ticket-title">
									<i class="fa fa-warning text-danger"></i>Trip to Brazil
								</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-danger ticket-label">Rejected</span>
								<a href="#" title="" class="ticket-title">Fine Wine Cellar</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-success ticket-label">Completed</span>
								<a href="#" title="" class="ticket-title">Daughters Wedding </a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-success ticket-label">Completed</span>
								<a href="#" title="" class="ticket-title">Future Gas Bills </a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-warning ticket-label">Pending</span>
								<a href="#" title="" class="ticket-title">4 Star Meals</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-info ticket-label">In progress</span>
								<a href="#" title="" class="ticket-title">
									<i class="fa fa-warning text-danger"></i>Season Tickets
								</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-danger ticket-label">Rejected</span>
								<a href="#" title="" class="ticket-title">House Deposit</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-success ticket-label">Completed</span>
								<a href="#" title="" class="ticket-title">Fly First Class</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-success ticket-label">Completed</span>
								<a href="#" title="" class="ticket-title">Designer Clothes </a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->

							<div class="ticket">
								<span class="label label-warning ticket-label">Pending</span>
								<a href="#" title="" class="ticket-title">Patek Phillippe Watch</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->
<!--
							<div class="ticket">
								<span class="label label-info ticket-label">In progress</span>
								<a href="#" title="" class="ticket-title">
									<i class="fa fa-warning text-danger"></i>The Goal Title
								</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->
<!--
							<div class="ticket">
								<span class="label label-danger ticket-label">Rejected</span>
								<a href="#" title="" class="ticket-title">The Goal Title</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->
<!--
							<div class="ticket">
								<span class="label label-success ticket-label">Completed</span>
								<a href="#" title="" class="ticket-title">The Goal Title</a>
								<span class="ticket-info">
									Last time you saved for this <a href="#">2 days ago</a>
								</span>
							</div> <!-- / .ticket -->
						</div>
					</div> <!-- / .panel-body -->
				</div> <!-- / .panel -->
			</div>
<!-- /10. $SUPPORT_TICKETS -->

<!-- 11. $RECENT_ACTIVITY ==========================================================================

			Recent activity
-->
			<!-- Javascript -->
			<script>
				init.push(function () {
					$('#dashboard-recent .panel-body > div').slimScroll({ height: 300, alwaysVisible: true, color: '#888',allowPageScroll: true });
				})
			</script>
			<!-- / Javascript -->

			<div class="col-md-6">
	
				
				<div class="panel panel-warning" id="dashboard-recent">
					<div class="panel-heading">
						<span class="panel-title"><i class="panel-title-icon fa fa-fire text-danger"></i>What others are saving for</span>
						
					</div> <!-- / .panel-heading -->
					<div class="tab-content">

						<!-- Comments widget -->

						<!-- Without padding -->
						<div class="widget-comments panel-body tab-pane no-padding fade active in" id="dashboard-recent-comments">
							<!-- Panel padding, without vertical padding -->
							<div class="panel-padding no-padding-vr">
								<div class="comment">
									<img src="/future-fund/static/demo/avatars/5.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Denise Steiner</a> commented on <a href="#" title="">My Bucket List</a>
										</div>
										<div class="comment-text">
											I love this site. My saving has gone up in leaps and bounds and my list is getting bigger as well!
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->

								<div class="comment">
									<img src="/future-fund/future-fund/static/demo/avatars/3.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Michelle Bortz</a> commented on <a href="#" title="">My Dream Holiday</a>
										</div>
										<div class="comment-text">
											I'm getting so much closer to my goal. I can't believe how easy it is to save.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->

								<div class="comment">
									<img src="/future-fund/future-fund/static/demo/avatars/2.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Robert Jang</a> commented on <a href="#" title="">Starting Early</a>
										</div>
										<div class="comment-text">
											My mum told me about this site recently and said I should start saving. I thought it would be boring, but buying stuff in teh future is a fun way to save.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->

								<div class="comment">
									<img src="/future-fund/future-fund/static/demo/avatars/4.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Timothy Owens</a> commented on <a href="#" title="">Future Fund</a>
										</div>
										<div class="comment-text">
											I'd love if the Future Fund was available in my country. Do you guys have any plans to go international?
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->

								<div class="comment">
									<img src="/future-fund/future-fund/static/demo/avatars/5.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Denise Steiner</a> commented on <a href="#" title="">What Are You Saving For?</a>
										</div>
										<div class="comment-text">
											I've just started saving for my dream car. Every little really does help.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->
<!--
								<div class="comment">
									<img src="/future-fund/future-fund/static/demo/avatars/3.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Michelle Bortz</a> commented on <a href="#" title="">Article Name</a>
										</div>
										<div class="comment-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->
<!--
								<div class="comment">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Robert Jang</a> commented on <a href="#" title="">Article Name</a>
										</div>
										<div class="comment-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->
<!--
								<div class="comment">
									<img src="/future-fund/static/demo/avatars/4.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Timothy Owens</a> commented on <a href="#" title="">Article Name</a>
										</div>
										<div class="comment-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->
<!--
								<div class="comment">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Robert Jang</a> commented on <a href="#" title="">Article Name</a>
										</div>
										<div class="comment-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->
<!--
								<div class="comment">
									<img src="/future-fund/static/demo/avatars/4.jpg" alt="" class="comment-avatar">
									<div class="comment-body">
										<div class="comment-by">
											<a href="#" title="">Timothy Owens</a> commented on <a href="#" title="">Article Name</a>
										</div>
										<div class="comment-text">
											Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.
										</div>
										<div class="comment-actions">
											<a href="#"><i class="fa fa-pencil"></i>Edit</a>
											<a href="#"><i class="fa fa-times"></i>Remove</a>
											<span class="pull-right">2 hours ago</span>
										</div>
									</div> <!-- / .comment-body -->
								</div> <!-- / .comment -->
							</div>
						</div> <!-- / .widget-comments -->

						<!-- Threads widget -->

						<!-- Without padding -->
						<div class="widget-threads panel-body tab-pane no-padding fade" id="dashboard-recent-threads">
							<div class="panel-padding no-padding-vr">
								<div class="thread">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/3.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Michelle Bortz</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/4.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Timothy Owens</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/5.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Denise Steiner</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/3.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Michelle Bortz</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/4.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Timothy Owens</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/5.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Denise Steiner</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->
								<div class="thread">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/3.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Michelle Bortz</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/4.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Timothy Owens</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/5.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Denise Steiner</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->

								<div class="thread">
									<img src="/future-fund/static/demo/avatars/2.jpg" alt="" class="thread-avatar">
									<div class="thread-body">
										<span class="thread-time">14h</span>
										<a href="#" class="thread-title">Lorem ipsum dolor sit amet</a>
										<div class="thread-info">started by <a href="#" title="">Robert Jang</a> in <a href="#" title="">Forum name</a></div>
									</div> <!-- / .thread-body -->
								</div> <!-- / .thread -->
							</div>
						</div> <!-- / .panel-body -->
					</div>
				</div> <!-- / .widget-threads -->
			</div>
<!-- /11. $RECENT_ACTIVITY -->
		</div>