{% load static compress %}


<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Future Fund</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

	<!-- Open Sans font from Google CDN -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,600,700,300&subset=latin" rel="stylesheet" type="text/css">

	<!-- Pixel Admin's stylesheets -->
	<link href="/future-fund/static/stylesheets/bootstrap.min.css" rel="stylesheet" type="text/css">
	<link href="/future-fund/static/stylesheets/pixel-admin.min.css" rel="stylesheet" type="text/css">
	<link href="/future-fund/static/stylesheets/widgets.min.css" rel="stylesheet" type="text/css">
	<link href="/future-fund/static/stylesheets/pages.min.css" rel="stylesheet" type="text/css">
	<link href="/future-fund/static/stylesheets/rtl.min.css" rel="stylesheet" type="text/css">
	<link href="/future-fund/static/stylesheets/themes.min.css" rel="stylesheet" type="text/css">
	{% compress css %}
    <link type="text/less" href={% static "less/style.less"%} rel="stylesheet"  charset="utf-8">
    {% endcompress %}
	<!--[if lt IE 9]>
		<script src="/future-fund/static/javascripts/ie.min.js"></script>
	<![endif]-->
	<style>
		.bg-white{
			background: #fff;
		}
		.img-hover-link{
			position: relative;
			display: block;
		}
		.img-hover-link{
		}
		.hidden-img-hover{
			opacity: 0;
			z-index: 200;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background: rgba(255,255,255,0.7);
			transition: opacity 0.2s linear;
		}
		.img-hover-link:hover .hidden-img-hover{
			opacity: 1;
		}
		#main-wrapper{
			position: relative;
		}
		header,nav{
			position: relative;
			z-index: 2000;
		}
		header{
			background: #fff;
		}
	</style>
</head>