{% load static compress %}

<script>var init = [];</script>
<!-- Demo script --> <script src="/future-fund/static/demo/demo.js"></script> <!-- / Demo script -->
<header>
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <span class="plugin_picture">
<a href="/future-fund/">
<img src="/future-fund/media/cms_page_media/2014/5/12/logo.png" alt="">
</a>
</span>
          </div>
          <div class="col-sm-6">
            
          </div>
        </div>
      </div>
    </header>
<nav>
      <div class="container">
        <div class="navbar" role="navigation">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li>
                <a href="/future-fund/">
                  <span class="fa fa-home fa-2x"></span>
                </a>
              </li>
              




<li class="">
    
    <a href="/future-fund/about/"><span>About Future Fund</span></a>
    
</li>





<li class="">
    
    <a href="/future-fund/how-it-works/"><span>How it Works</span></a>
    
</li>





<li class="">
    
    <a href="/future-fund/partners/"><span>Our Partners</span></a>
    
</li>




            </ul>
            <div class="navbar-right" style="margin-top: 10px;position: relative;">
              <button href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown">Members <b class="caret"></b></button>
              <ul class="dropdown-menu" style="left: 0;">
                




<li class="">
    
    <a href="/future-fund/members/my-account/"><span>My Account</span></a>
    
</li>




              </ul>
              <a class="btn btn-primary" href="#">Start Saving</a>
            </div>
          </div>
        </div>
      </div>
    </nav>