<ul class="navigation">
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-dashboard"></i><span class="mm-text">Dashboard</span></a>
    </li>
    <li class="mm-dropdown">
        <a href="#"><i class="menu-icon fa fa-th"></i><span class="mm-text">All Savings Accounts</span></a>
        <ul>
            <li>
                <a tabindex="-1" href="/future-fund/members-test/goal/1"><span class="mm-text">Car</span></a>
            </li>
            <li>
                <a tabindex="-1" href="/future-fund/members-test/goal/2"><span class="mm-text">Yacht</span></a>
            </li>
            <li>
                <a tabindex="-1" href="/future-fund/members-test/goal/3"><span class="mm-text">Macbook</span></a>
            </li>
            
        </ul>
    </li>
    <li>
        <a href="/future-fund/members-test/pricing"><i class="menu-icon fa fa-bar-chart-o"></i><span class="mm-text">Pricing Chart</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/calculator"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Calculator</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    <li>
        <a href="/future-fund/members-test/"><i class="menu-icon fa fa-tasks"></i><span class="mm-text">Saving Goal</span></a>
    </li>
    
</ul> <!-- / .navigation -->