<div class="row">

<!-- 7. $EARNED_TODAY_STAT_PANEL ===================================================================

    Earned today stat panel
-->
    <div class="col-sm-6 col-md-12">
        <div class="stat-panel">
            <!-- Danger background, vertically centered text -->
            <div class="stat-cell bg-danger valign-middle">
                <!-- Stat panel bg icon -->
                <i class="fa fa-trophy bg-icon"></i>
                <!-- Extra large text -->
                <span class="text-xlg"><span class="text-lg text-slim">£</span><strong>1024.20</strong></span><br>
                <!-- Big text -->
                <span class="text-bg">Saved this month!</span><br>
                <!-- Small text -->
                <span class="text-sm"><a href="#">See details in your profile</a></span>
            </div> <!-- /.stat-cell -->
        </div> <!-- /.stat-panel -->
    </div>
<!-- /7. $EARNED_TODAY_STAT_PANEL -->


<!-- 8. $RETWEETS_GRAPH_STAT_PANEL =================================================================

    Retweets graph stat panel
-->
    <div class="col-sm-6 col-md-12">
        <!-- Javascript -->
        <script>
            init.push(function () {
                $("#stats-sparklines-3").pixelSparkline([275,490,397,487,339,403,402,312,300], {
                    type: 'line',
                    width: '100%',
                    height: '45px',
                    fillColor: '',
                    lineColor: '#fff',
                    lineWidth: 2,
                    spotColor: '#ffffff',
                    minSpotColor: '#ffffff',
                    maxSpotColor: '#ffffff',
                    highlightSpotColor: '#ffffff',
                    highlightLineColor: '#ffffff',
                    spotRadius: 4,
                    highlightLineColor: '#ffffff'
                });
            });
        </script>
        <!-- / Javascript -->

        <div class="stat-panel">
            <div class="stat-row">
                <!-- Purple background, small padding -->
                <div class="stat-cell bg-pa-purple padding-sm">
                    <!-- Extra small text -->
                    <div class="text-xs" style="margin-bottom: 5px;">Current Saving Level</div>
                    <div class="stats-sparklines" id="stats-sparklines-3" style="width: 100%"></div>
                </div>
            </div> <!-- /.stat-row -->
            <div class="stat-row">
                <!-- Bordered, without top border, horizontally centered text -->
                <div class="stat-counters bordered no-border-t text-center">
                    <!-- Small padding, without horizontal padding -->
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <!-- Big text -->
                        <span class="text-bg"><strong>£22,000</strong></span><br>
                        <!-- Extra small text -->
                        <span class="text-xs text-muted">Total Savings</span>
                    </div>
                    <!-- Small padding, without horizontal padding -->
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <!-- Big text -->
                        <span class="text-bg"><strong>12</strong></span><br>
                        <!-- Extra small text -->
                        <span class="text-xs text-muted">Active Goals</span>
                    </div>
                    <!-- Small padding, without horizontal padding -->
                    <div class="stat-cell col-xs-4 padding-sm no-padding-hr">
                        <!-- Big text -->
                        <span class="text-bg"><strong>14 Years</strong></span><br>
                        <!-- Extra small text -->
                        <span class="text-xs text-muted">Until retirement</span>
                    </div>
                </div> <!-- /.stat-counters -->
            </div> <!-- /.stat-row -->
        </div> <!-- /.stat-panel -->
    </div>
<!-- /8. $RETWEETS_GRAPH_STAT_PANEL -->

<!-- 9. $UNIQUE_VISITORS_STAT_PANEL ================================================================

    Unique visitors stat panel
-->
    <div class="col-sm-6 col-md-12">
        <!-- Javascript -->
        <script>
            init.push(function () {
                $("#stats-sparklines-2").pixelSparkline(
                    [275,490,397,487,339,403,402,312,300,294,411,367,319,416,355,416,371,479,279,361,312,269,402,327,474,422,375,283,384,372], {
                    type: 'bar',
                    height: '36px',
                    width: '100%',
                    barSpacing: 2,
                    zeroAxis: false,
                    barColor: '#ffffff'
                });
            });
        </script>
        <!-- / Javascript -->

        <div class="stat-panel">
            <div class="stat-row">
                <!-- Warning background -->
                <div class="stat-cell bg-warning">
                    <!-- Big text -->
                    <span class="text-bg">Your Saving History</span><br>
                    <!-- Small text -->
                    <span class="text-sm">View Your full history here</span>
                </div>
            </div> <!-- /.stat-row -->
            <div class="stat-row">
                <!-- Warning background, small padding, without top padding, horizontally centered text -->
                <div class="stat-cell bg-warning padding-sm no-padding-t text-center">
                    <div id="stats-sparklines-2" class="stats-sparklines" style="width: 100%"></div>
                </div>
            </div> <!-- /.stat-row -->
        </div> <!-- /.stat-panel -->
    </div>
    
    <div class="col-sm-6 col-md-12">
        <iframe src="https://www.b1g1.com/buy1give1/widget.php?b1g1_uid=780389&type=light" style="width: 100%;" height="181px" frameborder="0"></iframe>
    </div>
</div>