{% load static compress %}

<ul class="breadcrumb breadcrumb-page">
    <div class="breadcrumb-label text-light-gray">You are here: </div>
    <li><a href="#">Home</a></li>
    <li class="active"><a href="#">Dashboard</a></li>
    <div class="pull-right" style="margin-top:-5px;">
        <div class="pull-left">
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-circle text-twitter fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-circle text-facebook fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            <a href="#">
                <span class="fa-stack">
                    <i class="fa fa-circle text-google fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>
            </a>
            
        </div>
        <div class="pull-right" style="margin-top:-5px;">&nbsp;&nbsp;<a>A</a> <a class="text-bg">A</a> <a class="text-lg">A</a></div>
    </div>
</ul>

<div class="page-header">
    
    <div class="row">
        <!-- Page header, center on small screens -->
        <h1 class="col-xs-12 col-sm-4 text-center text-left-sm">{% block page_title %}<i class="fa fa-dashboard page-header-icon"></i>&nbsp;&nbsp;Dashboard{% endblock %}</h1>

        <div class="col-xs-12 col-sm-8">
            <div class="row">
                <hr class="visible-xs no-grid-gutter-h">
                <!-- "Create project" button, width=auto on desktops -->
                <div class="pull-right col-xs-12 col-sm-auto"><a href="#" class="btn btn-primary btn-labeled" style="width: 100%;"><span class="btn-label icon fa fa-plus"></span>Create goal</a></div>

                <!-- Margin -->
                <div class="visible-xs clearfix form-group-margin"></div>

                <!-- Search field -->
                <form action="" class="pull-right col-xs-12 col-sm-6">
                    <div class="input-group no-margin">
                        <span class="input-group-addon" style="border:none;background: #fff;background: rgba(0,0,0,.05);"><i class="fa fa-search"></i></span>
                        <input type="text" placeholder="Search..." class="form-control no-padding-hr" style="border:none;background: #fff;background: rgba(0,0,0,.05);">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> <!-- / .page-header -->